/* Стили для footer */
footer {
    margin-top: auto;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding-left: 0;
  }
  
  .icons > li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  
  .icons a{
    position: relative;
    background-color: #000;
    display: block;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
   
  }
  
  .icons a:hover {
    background-color: gray;
  }
  
  .icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: 0.65rem;
    top: 0.65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  